@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Overpass;
  src: url("../fonts/overpass/Overpass-Black.ttf");
  font-weight: 900;
}


@font-face {
  font-family: Overpass;
  src: url("../fonts/overpass/Overpass-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face{
  font-family: Overpass; 
  src: url('../fonts/overpass/Overpass-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-Light.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Overpass;
  src: url('../fonts/overpass/Overpass-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}
